<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>


        <img src="https://media.istockphoto.com/id/639392022/vector/bookshelves-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=1DNOwFJabnlqHzShnSHfWOsNBUTtIaOgFBcpGQO_-oQ=" class="img-fluid rounded mx-auto d-block" alt="..." style="margin-top: 50px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>  </h1>
                    <p>  </p>
                </div>
            </div>
        </div>



    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>