<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

</head>

<body class="container">

    <header>
        <%- include('../partials/headermain'); %>
    </header>

    <main>

        <div class="container-fluid text-center" style="margin-top: 50px;">
            <img src="https://media.istockphoto.com/id/639392022/vector/bookshelves-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=1DNOwFJabnlqHzShnSHfWOsNBUTtIaOgFBcpGQO_-oQ=" alt="">
        </div>
      
    </main>

    <footer>
        
    </footer>

</body>

</html>